#header-row{
    margin-bottom: 3vh;
    box-shadow: 0 8px 10px -6px rgba(black, 1);
    height: 10vh;
}

#home-icon{
    margin-top: 10px;
}
.header-items{
    display: flex;
    justify-content:space-evenly;

    .header-item, .header-dropdown {
        display: flex;
        margin-left: 5px;
        justify-content: center;
        padding: 4px;
        margin-top: 8px;
        border-radius: 3px;
        width: 10vw;
        height: 6vh;
        color: white;
        font-size: clamp(0.6em, 4vh, 1.2em);
        background-color: #808b42;
        transition: all 1s ease-out;
    }
    .header-dropdown{
        display: flex;
        margin-left: 5px;
        margin-top: 18px;
    }

    //  #header-journal{
    //      margin-left: 5px;
    //         background-color: #808b42;
    //     }
     #header-journal:hover,#header-journal:active{
            background-color: white;
            color: #808B42;
            border: thin solid #808B42;
    }

     #header-relative{
            background-color: #808b42;
        }
     #header-relative:hover, #header-relative:active{
            background-color: white;
            color: #808b42;
            border: thin solid #808b42;
    }
    #header-network{
            background-color: #808b42;
        }
     #header-network:hover, #header-network:active{
            background-color: white;
            color: #808b42;
            border: thin solid #808b42;
    }
    
     #header-background{
         margin-right: 5px;
        background-color: #808B42;
          .dropdown-link{
            color: white;
        }
        }
     #header-background:hover, #header-background:active{
            background-color: white;
            border: thin solid  #808B42;
              .dropdown-link{
            color:  #808B42;
        }
    }
    
}


@media only screen and (max-width: 990px) {
    #header-row{
        display: none;
    }
 .header-items{
     display: none;
}
}

@import "bootstrap";