body {
  font-family: Arial, Helvetica, sans-serif;
}
.background-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.background{
  // padding: 3vw;
  // line-height: 2;
  padding: 15px;
}

.background.card div.card-body h3 {
  font-size: 1.5rem;
}


.a-link{
  color: hsl(240, 5%, 22%);
}

.background-jh img {
    aspect-ratio: calc(5/3);
    object-position: bottom;
}
