body {
  font-family: Arial, Helvetica, sans-serif;
}
.background-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.background{
  // padding: 3vw;
  // line-height: 2;
  padding: 30px;
  max-width: 900px;

  a *{
    color: inherit;
  }
}

.background.card blockquote {
  margin: auto 5%;
  
  p {
    padding: 0 2%;
    border-left: 1px solid var(--bs-secondary);
  }
}

.background.card div.card-body h3 {
  font-size: 1.5rem;
}


.a-link{
  color: hsl(240, 5%, 22%);
}

.background-jh img {
    aspect-ratio: calc(5/3);
    object-position: bottom;
}

.footnotes li{
  margin-bottom: 8px;
}

.footnote-backref {
  margin-left: 5px;
}

// .background-quaker {
//   justify-content: center;
// }