

// .card{
//   position: relative;
//   text-decoration: none;
//   text-align: center;
//   background-color: var(--bs-primary);
//   margin: 0.3vw;
//   height: 50vh;
//   width: 18vw;
//   transition: all 1s ease-in-out;
//   // transform: rotate(-10deg);
//   z-index: 1;
//   box-shadow:
//     0 2.8px 2.2px rgba(180, 125, 125, 0.034),
//     0 6.7px 5.3px rgba(0, 0, 0, 0.048),
//     0 12.5px 10px rgba(0, 0, 0, 0.06),
//     0 22.3px 17.9px rgba(0, 0, 0, 0.072),
//     0 41.8px 33.4px rgba(0, 0, 0, 0.086),
//     0 100px 80px rgba(0, 0, 0, 0.12);
// }
//
// .journal-card{
//   height: auto;
//   width: auto;
//   max-width: 20vw;
//   margin-left: 1vw;
//   margin-right: 1vw;
// }
//
// .card-col{
//   height: 100%;
// }
//
// .entity-card{
//   height: 20vh;
// }
// .relative-card{
//   text-decoration: none;
//   height: 20vh;
// }
//
// .card:hover{
//     // transform: scale(2, 2);
//     // transform: perspective(1000px) rotateX(10deg) rotateY(4deg) rotateZ(-20deg)
//     // animation: magic 3s alternate ease-in-out;
//     // transform: rotate(0deg)
//     outline: 3px solid var(--bs-secondary)
// }
//
// @keyframes magic {
//   10%{
//     border: 2px solid #505A34;
//   }
//
//   70%{
//    transform: rotate(10deg);
//   }
// }
//
// .date{
//   color: var(--bs-info);
//   font-size: 18px;
// }
//
// .card-hr{
//   background-color: #FF8C00;
//   height: 2px !important;
// }
// .card-footer{display: none;}
//
// h1, h2, h3, h4, h5, h6,
// .h1, .h2, .h3, .h4, .h5, .h6 {
//   font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
//
// a {
//   -webkit-transition: .3s all ease;
//   -o-transition: .3s all ease;
//   transition: .3s all ease; }
//   a, a:hover {
//     text-decoration: none !important; }
//
// .content {
//   padding: 7rem 0; }

.card > a {
  text-decoration: none;
}

.journal-card {
  height: 100%;
  outline: 2px solid transparent;
}

.journal-card:hover, .journal-card:focus {
  outline: 2px solid var(--bs-secondary)
}

.journal-card-col {
  padding: 12px
}

.card-img {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: top;
}

.journal-card-row {
  align-items: stretch;
}

.custom-table {
  min-width: 900px; }
  .custom-table thead tr, .custom-table thead th {
    padding-bottom: 30px;
    border-top: none;
    border-bottom: none !important;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .2rem; }
  .custom-table tbody th, .custom-table tbody td {
    color: #777;
    text-align: left;
    font-weight: 400;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: 300;
    border: none;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .custom-table tbody th small, .custom-table tbody td small {
      color: rgba(255, 255, 255, 0.3);
      font-weight: 300; }
    .custom-table tbody th a, .custom-table tbody td a {
      color: rgba(255, 255, 255, 0.3); }
  .custom-table tbody tr {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .custom-table tbody tr:hover td, .custom-table tbody tr:focus td {
      color: #fff; }
      .custom-table tbody tr:hover td a, .custom-table tbody tr:focus td a {
        color: #fdd114; }
      .custom-table tbody tr:focus td
  .custom-table .td-box-wrap {
    padding: 0; }
  .custom-table .box {
    background: #fff;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 15px; }
    .custom-table .box td, .custom-table .box th {
      border: none !important; }
