.card > a {
  text-decoration: none;
}

.journal-card, .entity-card {
  height: 100%;
  border: none;
}

.journal-card:hover, .journal-card:focus, .entity-card:hover, .entity-card:focus {
  outline: 2px solid var(--bs-secondary)
}

.journal-card-col, .entity-card-col {
  padding: 12px
}

.card-img {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: top;
}

.journal-card-row {
  align-items: stretch;
}
