
body {
  font-family: Arial, Helvetica, sans-serif;
  counter-reset: pg;

}


hr.tei-pb.page-line {
  border: 4;
  height: 5px;
  color: var(--bs-primary);
  background-color: var(--bs-primary);
  opacity: 0.75;
  border-radius: 3px;
  // margin-left: 60px;
  overflow: visible;
  margin-bottom: 0px;
}

button.page-num {
  background-color: rgb(0,0,0,0);
  border: none;
  display: block;
  margin-bottom: 30px;
  font-size: small;
  font-weight: bold;
  color: var(--bs-primary);
  user-select: none;
  cursor: copy;
}

.name-g-link {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: #D9B648;
  padding: 0 1px;
  transition: color ease 1s;
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 50%;
    height: 3px;
    background-color: #D9B648;
    transform: scaleX(0);
    transform-origin: bottom left;

    transition: transform 0.3s;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 50%;
    height: 3px;
    background-color: #D9B648;
    transform: scaleX(0);
    transform-origin: bottom right;

    transition: transform 0.3s;
  }

  &:hover {
    color: #D9B648;
    &:before {
      transform: scaleX(1);
    }

    &:after {
      transform: scaleX(1);
    }
  }
}

.wrapper {
  display: inline-block;
  font-style: italic;
  background: var(--bs-primary);
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #342E37;
  font-size: 10px;
  margin: 0 auto;
  padding: 5px 5px;
  width: fit-content;
  -webkit-transform: translateZ(0); /* webkit flicker fix */
  -webkit-font-smoothing: antialiased; /* webkit text rendering fix */

  > .general-text{
    user-select: none;
  }
}

.superscript {
  vertical-align: super;
  font-size: 75%;
}

.teiHead {
  font-size: 1.25rem
}

.sum {
  border-top: 1px solid;
}

td {
  padding: 4px 6px;
  text-align: right;
}

div {
  font-weight: 300;
}

//-----------------Popover formatting--------------------

.popover{
  background-color: var(--bs-primary);
  padding: 10px;
  text-align: justify;
}

// Fix the gosh-darned Popper arrow

.arrow,
.arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: var(--bs-primary);
  z-index: -10;
}

.arrow {
  visibility: hidden;
}

.arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

div.popover.bs-popover-bottom div.popover-arrow::after {
  border-bottom-color: var(--bs-primary)
}

.popover[data-popper-placement^='top'] > .arrow {
  bottom: -4px;
}

.popover[data-popper-placement^='bottom'] > .arrow {
  top: -4px;
}

.popover[data-popper-placement^='left'] > .arrow {
  right: -4px;
}

.popover[data-popper-placement^='right'] > .arrow {
  left: -4px;
}


.popover[data-popper-placement^='top'] {
  bottom: 4px !important;
}

.popover[data-popper-placement^='bottom'] {
  top: 4px !important;
}

.popover[data-popper-placement^='left'] {
  right: 4px !important;
}

.popover[data-popper-placement^='right'] {
  left: 4px !important;
}
