#entity-name{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


#person-col-right{
  flex-grow: 3;
}

.row#relations-row, .row#bio-row, .row#person-main-row{
  margin-left: 0px;
  margin-right: 0px;
}

// Add padding around cards
.row#relations-row, .row#bio-row, .col#person-col-left {
  padding-top: 12px;
  padding-bottom: 12px;
  height:auto;
}

#person-main-row .card-body{
  height: auto;
}

#bio-row > .card > .card-body, #relations-row > .card > .card-body {
  padding: 1rem !important;
}

#person-col-left > .card, #bio-row > .card, #relations-row > .card {
  display: flex;
}

table, table *{
  color: revert;
}

table#relations-table {
  border-color: var(--bs-secondary);
}

table#relations-table, table#relations-table *{
  color: var(--bs-secondary);
}

.rel-col, .name-col{
  width: fit-content;
}

table#relations-table td {
  text-align: left !important;
}

td.name-col{
  text-indent: 0px;
}

table#relations-table td > * {
  padding: 0px;
}
