

#bio-container{
  height: fit-content;
  overflow: scroll;
  padding: 2em;
  border-left: 5px solid #505A34;
  border-right: 0.5px solid #505A34;
  border-top: 0.5px solid #505A34;
  border-bottom: 0.5px solid #505A34;

}
#bio-data-container{
  height: fit-content;
  overflow: scroll;
  padding: 2em;
  border-right: 5px solid #505A34;
  border-left: 0.5px solid #505A34;
  border-top: 0.5px solid #505A34;
  border-bottom: 0.5px solid #505A34;
  // color: rgb(214, 208, 208);
}

#entity-name{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}




.card-entity-col{
    display: flex;
    flex-direction: row;
    // height: 70vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    // border: 2px solid #128DE5;
    transition: filter ease-in-out 5s;
}  

//select all @card children of @card-entity when hovered on it. If the hovered cursor on a particular @card ignore that one
.card-entity-col:hover  .card:not(:hover){
    // filter: blur(2px);
    filter: opacity(60%)
}




@import 'bootstrap';