#header-row{
    margin-bottom: 3vh;
    box-shadow: 0 8px 10px -6px rgba(black, 1);
    height: auto;
}

#home-icon{
    margin-top: 10px;
    color: var(--bs-primary) !important;
}
.header-items{
    display: flex;
    justify-content:space-evenly;
    color:inherit;

    .header-item, #dropdown-about, #dropdown-background {
        display: inline;
        margin-left: 5px;
        justify-content: center;
        padding: 4px;
        margin-top: 8px;
        border-radius: 3px;
        width: 10vw;
        color: white;
        font-size: clamp(0.6em, 4vh, 1.2em);
        background-color: #505A34;
        transition: all 1s ease-out;
        border: thin solid #505A34;
    }

    h4{
      display: inline-block;
    }

    #dropdown-about, #dropdown-background {
      box-sizing: border-box;

      font-weight: inherit;
      text-align: center;
      text-decoration-thickness: auto;
      white-space: normal;
    }

    #dropdown-about:hover, #dropdown-about:active, #dropdown-background:hover, #dropdown-background:active {
      background-color: white;
      color: var(--bs-primary) !important;
      border: thin solid var(--bs-primary);
    }

    //  #header-journal{
    //      margin-left: 5px;
    //         background-color: #505A34;
    //     }

     .header-item:hover, .header-item:active, {
            background-color: white;
            border: thin solid var(--bs-primary);
    }

    .header-item:hover *, .header-item:active * {
      color: var(--bs-primary);
    }

     #header-background{
         margin-right: 5px;
        background-color: #505A34;
          .dropdown-link{
            color: white;
          }
        }

     #header-background:hover, #header-background:active{
            background-color: white;
            border: thin solid  var(--bs-primary);
              .dropdown-link{
            color:  var(--bs-primary);
        }
    }

}

@media only screen and (max-width: 990px) {
    #header-row{
        display: none;
    }
 .header-items{
     display: none;
}
}
