#nav-image .col,
#nav-row .col {
  height: 100%;
}

//////////////////////////////////
///////////// NavImg /////////////
//////////////////////////////////

#nav-image {
	height: 15vh;
	background-size: cover;
	/* or contain depending on what you want */
	background-position: left center;
	background-repeat: no-repeat;
}

#logo {
	margin-left: 0;
	justify-content: left;
	width: 100%;
	display: flex;
	max-width: 300px;
	height: 100%;
	max-height: 100%;
	object-fit: contain;
	object-position: center left;
}


.search-form {
	display: flex;
	// flex-direction: row;
	justify-content: right;
	// align-items: right;
	align-items: center;
	margin-right: 5px;

	.form-box {
		width: 20vw;
		// height:5vh;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-color: #505A34;
	}
}

#search-button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

//////////////////////////////////
///////////// NavBar /////////////
//////////////////////////////////

#navbar {
  padding-left: 12px;
  padding-right: 12px;
}

#nav-row {
	// display: none;
	// background-color: #2F3242;
	box-shadow: 0 8px 10px -6px rgba(black, 1);
	margin-bottom: 3vh;
}


#brand {
  background-color: var(--bs-primary);
  padding: 8px;
  border-radius: 3px;
}

#brand:active,
#brand:hover,
#brand:focus-within {
  background-color: var(--bs-secondary);
  outline: 3px solid var(--bs-primary);
}

#brand:active *,
#brand:hover *,
#brand:focus-within * {
  color: var(--bs-primary);
} // Descendant selector is needed to change color of path

#nav-row .nav-link {
  color: var(--bs-secondary) !important;
}

.nav-nav {
  width: 100%;
}

.navbar-toggler {
  color: var(--bs-secondary) !important;
}

.dropdown-menu, .dropdown-menu > a {
  background-color: var(--bs-primary);
  color: var(--bs-secondary) !important;
  margin: 0px;
}

.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item.active {
  background-color: var(--bs-secondary);
  color: var(--bs-primary) !important;
}

#nav-row .nav-link.active {
  text-decoration: underline var(--bs-info);
}

// When menu is collapsed
@media only screen and (max-width: 767px){
  .navbar-collapse{
    background-color: var(--bs-primary);
    margin-left: -12px;
    padding-left: 12px;
    margin-right: -12px;
    padding-right: 12px;
    margin-bottom: -8px;
    padding-bottom: 8px;
  }

  #nav-row .nav-item {
    font-size: x-large;
  }

  #nav-row .dropdown-menu{
    border: none;
    font-size: large;
  }

  #navbar .show{
    margin-top: -1px;
  }
}

// When menu is not collapsed
@media only screen and (min-width: 768px){
  .navbar-nav{
    display: flex;
    column-gap: 2%;
  }

  .nav-item {
    background-color: var(--bs-primary);
    color: var(--bs-secondary)
  }

  #nav-row .nav-item {
    text-align: center;
  	color: var(--bs-secondary);
    flex-grow: 1;
  	border-radius: 2px;
  	font-size: x-large;
  }

  #nav-row .nav-item:active,
  #nav-row .nav-item:hover,
  #nav-row .nav-item:focus-within {
  	background-color: var(--bs-secondary);
  	outline: 2px solid var(--bs-primary);
  }

  #nav-row .nav-item:active > a,
  #nav-row .nav-item:focus-within > a,
  #nav-row .nav-item:hover > a {
  	color: var(--bs-primary) !important;
    text-decoration: underline;
    text-decoration-color: var(--bs-primary) !important;
  }

}
