#main-container{
  flex-grow: 3;
  width: auto;
}

.network-page #main-container,
.network-page #info-box {
  margin-bottom: 12px;
}

#legend-row .col {
  align-items: center;
}

#to-profile {
  color: var(--bs-secondary);
}

#remove-hunt {
   margin: "2px";
   color: var(--bs-secondary);
}

#remove-hunt-col {
  align-self: center;
}

#info-card{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  max-height: 80vh;
}

#info-card .card-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#info-card #inactive-text * {
  text-align: center;
}

#bio-snippet {
  hyphens: auto;
  margin-top: 8px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 18;
  overflow: hidden;
}

#legend-row {
  align-items: baseline;
  justify-content: space-around;
}

#legend-row > .col {
  align-items: center;
}

.network-page .card-body#inactive-text{
  height: 100%;
  display: flex;
  opacity: 50%;
  vertical-align: middle;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#network-svg{
    padding: 0px;
    width: 100%;
    height: 80vh;
    border: 2px solid var(--bs-primary);
    border-radius: 10px;
}
.node-text{
    color: #fff;
    -webkit-text-fill-color: white;
    /* ^ Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

div.d3Tooltip {
  background-color: hsl(227, 17%, 22%);
//   color: ;
  width: fit-content;
  position: absolute;
  text-align: center;
  padding: 5px;
  transform: translateX(100%);
  font: 16px sans-serif;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 8px;
  pointer-events: none; /* keep the mouseover when over the tooltip */
}
