
#network-row{
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
}
#network-svg{
    background-color: #EEEEEE;;
    width: 95vw;
    border: 2px solid #034d81;
    border-radius: 10px;
}
.node-text{
    color: #fff;
    -webkit-text-fill-color: white;
    /* ^ Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

div.d3Tooltip {
  background-color: hsl(227, 17%, 22%);
//   color: ;
  position: absolute;
  text-align: center;
  padding: 5px;
  transform: translateX(100%);
  font: 16px sans-serif;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 8px;
  pointer-events: none; /* keep the mouseover when over the tooltip */
}
