body {
  font-family: Arial, Helvetica, sans-serif;
}

//////////// For debugging purposes ////////////
// div {
//   border: 1px solid white !important;
//   border-radius: 10px !important;
// }

#main-row > .col > p {
  padding-right: 5vw;
}

#document-filter-group {
  display: flex;
  align-items: center;
  * {
    color: var(--bs-secondary);
    &:focus {
      box-shadow: none !important;
    }
  }
  padding-bottom: 12px;
}

#document-filter-col {
  flex-wrap: wrap;
  padding: 12px 0px 0px;
  margin-right: -4.5vw;
  max-height: 70vh;
  position: sticky;
  top: 0;
  
  .filter-label {
    text-align: center;
    vertical-align: bottom;
  }
}

@media only screen and (max-width: 991px){
  #document-filter-col {
    background-color: #342E37;
    flex-flow: row nowrap;
    position: relative;
    padding: 12px;
    margin-right: 0px;
    position: sticky;

    > *{
      display: flex;
      flex: 1 1 auto;
    }

    .filter-label {
      text-align: right;
    }
  } 

}

.btn-group > .btn:not(:last-child) {
  margin-left: 2px;
  margin-right: 2px;
}

.btn-group > .btn:nth-child(n+3) {
  margin-left: 2px;
  margin-right: 2px;
}

#background-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.background-item {
  position: relative;
  border: 0.5px solid rgb(119, 33, 204);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  padding: 4px;
  margin-left: 10vw;
  margin-right: 10vw;
  border-radius: 5px;
  width: 70vw;
  height: 15vh;
  color: white;
  z-index: 1;

  &::before{
 position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
  }
   &:hover::before{
    opacity: 1;
  }
}

// #background-timeline {
//   background: linear-gradient(to bottom right, #000428, #004e92);
//   &::before {
//     background: linear-gradient( to bottom right, #004e92,#000428);
//   }
// }

// #background-essay {
//   background: linear-gradient(to bottom right, #1F1C2C  , #928DAB);
//    &::before {
//     background: linear-gradient( to bottom right, #928DAB,#1F1C2C);
//   }
// }
// #background-bibliography {
//   background: linear-gradient(to bottom right, #B79891 ,#94716B);
//    &::before {
//     background: linear-gradient( to bottom right, #94716B,#B79891);
//   }
// }
// #background-quaker-glossary {
//   background: linear-gradient(to bottom right, #0F2027, #203A43, #2C5364);
//    &::before {
//     background: linear-gradient( to bottom right, #2C5364,#203A43, #0F2027);
//   }
// }
// #background-quaker-meeting-structure {
//   background: linear-gradient(to bottom right, #ad5389, #3c1053);
//    &::before {
//     background: linear-gradient( to bottom right, #3c1053,#ad5389);
//   }
// }

#bg-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: hsl(0, 15%, 91%);
}

.box {
  width: 60vw;
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;
    transition: all 1s ease-in-out;

    &:hover{
      transform: rotate3d(1, 0, -1, -5deg);
    }
}
