body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #342E37;
}

* {
  color: #FAF8D6
}

p, p * {
  text-align: justify;
  hyphens: auto;
}

a,
p a,
.background-col a {
  color: var(--bs-info);
  text-decoration-color: var(--bs-info);

  &:hover {
    color: var(--bs-info);
    text-decoration-color: var(--bs-info);
  }
}

#main-row{
  padding-left: 5vw;
  padding-right: 5vw;
}

#main-container{
  background-color: #342E37;
  flex-direction: column;
  justify-content: flex-start;
}

#image{
  height: 85vh;
  // border: 0.5px solid blue;
}

#logo{
  height: 12vh;
  width: 7vw;
}
// #openseadragon{
//   height: 50vh;
//   width: 30vw;
// }

#homepage-text {
  padding-left: 15vw;
  padding-right: 15vw;
}

  .g-link {
  padding: 5px;
  color: var(--bs-info);
  text-decoration: none;
  transition: all ease-in-out 0.5s;

}
  .g-link:hover{
  text-decoration: underline var(--bs-info);
}

  .g-link2 {
  padding: 5px;
  color: hsl(0, 5%, 16%);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all ease-in-out 0.5s;

}
  .g-link2:hover{
  color: hsl(0, 4%, 37%);
  border-color: hsl(207, 87%, 45%);;
}

.btn-g-link{
  text-decoration: none;
}

.general-text, .general-text > p{
  color: #FBFAD8;
}

.header3{
  font-size: calc(1.3rem + 0.6vw);

}

.homepage-card-image{
  object-fit: cover;
}

.homepage-card{
  height: 100%;
  display: flex;
  text-align: center;
}

.homepage-card:hover{
  box-shadow: 0 0px 15px var(--bs-secondary);
}

.homepage-card-col{
  padding: 16px !important;
  width: auto;
}

#homepage-card-row{
  justify-content: center;
  width: 100% !important;
}

strong {
  font-weight: bold !important;
}

// Search-page related styles

div.result-card{
  transform: none;
  transition: none;
  animation: none;
  height: fit-content;
  padding: 0px;

  margin: 1.5vh 0;

  mark {color: var(--bs-primary)}
}

.result-link {
  text-decoration: none;
}
.result-link:hover, .result-link:focus {
  .result-card {outline: 2px solid var(--bs-secondary)}
}

.nav.nav-tabs {
  border-color: var(--bs-secondary)
}

.nav.nav-tabs .nav-item button {
  background-color: var(--bs-primary);
  color: var(--bs-secondary);

  border-top: 1px solid var(--bs-primary);
  border-right: 1px solid var(--bs-primary);
  border-left: 1px solid var(--bs-primary);
  border-bottom-color: var(--bs-secondary);

  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;

  .badge {
    margin-left: 0.75em;
    color: var(--bs-secondary);
  }

  &:hover {
    color: var(--bs-secondary);
    border-color: var(--bs-secondary);
  }

  &.active {
    background-color: var(--bs-secondary);
    color: var(--bs-primary);
    border-color: var(--bs-secondary);

    .badge {
      color: var(--bs-secondary);
      background-color: var(--bs-primary) !important;
    }
  }
}

// change the theme
$theme-colors: (
  "primary": #636B42,
  "danger": #A27365,
  "secondary": #FAF8D6,
  "info": #D9B648
);

// Import Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";
