#image-journal-row {
	height: 90vh;
	display: flex;
	flex-direction: row;
	margin: 0;
	// background-color: black;
}

#image-col,
#journal-col {
	height: 90vh;
	resize: none;
	// width: 50%;
	// border: thin solid red;
}

#image-tool {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	height: 5vh;

	#left-arrow-icon {
		display: flex;
		text-align: right;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 2vh 2vw 2vh 0;
		border-color: transparent hsl(215, 14%, 45%) transparent transparent;
		background-color: transparent;
		transition: all 0.1s ease-out;

		&:enabled {&:hover {
			cursor: pointer;
			border-width: 2vh 2.5vw 2vh 0;
			border-color: transparent #505A34 transparent transparent;
		}}

		&:disabled {
			opacity: 20%;
			cursor: inherit;
		}
	}

	#right-arrow-icon {
		display: flex;
		text-align: center;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 2vh 0 2vh 2vw;
		border-color: transparent transparent transparent hsl(215, 14%, 45%);
		background-color: transparent;
		transition: all 0.1s ease-out;

		&:enabled {&:hover {
			cursor: pointer;
			border-width: 2vh 0 2vh 2.5vw;
			border-color: transparent transparent transparent #505A34;
		}}

		&:disabled {
			opacity: 20%;
			cursor: inherit;
		}
	}
}

#journal-image {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 85vh;
	border-left: 0.5px solid #505A34;
	border-right: 5px solid #505A34;
	border-top: 0.5px solid #505A34;
	border-bottom: 0.5px solid #505A34;
}

#journal-search {
	// border: 2px solid yellowgreen;
	height: 5vh;

	#journal-search-form {
		height: 100%;
		width: 50%;
		// border: 1px solid rgb(215, 78, 5);
		float: right;
	}

	#journal-search-btn,
	#journal-search-input {
		height: 100%;
		display: flex;
	}

	#journal-search-input {
		width: 80%;
	}

	#journal-search-btn {
		justify-content: center;
		align-items: center;
		margin-right: 0;
	}
}

#journal-transcript {
	height: 85vh;
	overflow: scroll;
	padding: 2em;
	border-left: 5px solid #505A34;
	border-right: 0.5px solid #505A34;
	border-top: 0.5px solid #505A34;
	border-bottom: 0.5px solid #505A34;
	color: hsl(0, 7%, 83%);
	scroll-behavior: smooth;
}

#journal-next-prev-citation {
	margin-top: 1vh;
	justify-content: center;
	align-items: center;
	color:hsl(0, 7%, 83%)


	#next-journal {
		float: right;
	}

	#preferred-citation {
		flex-grow: 7;
	}
}
