body {
  font-family: Arial, Helvetica, sans-serif;
}
.background-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.appendix-text{
  width: 70vw;
  padding: 3vw;
  margin-bottom: 3vh;
}
.background-text{
  line-height: 2;
}
#meeting-structure, #appendix-tabulated{
  border: 0.1vw solid #808B42;
  border-left: 0.5vw solid #808B42;
}

#quaker-glossary, #appendix-essay {
  border: 0.1vw solid #808B42;
  border-left: 0.5vw solid #808B42;
}
#appendix-bib{
  border-top: 0.1vw solid #10A8EC;
  border-right: 0.1vw solid #10A8EC;
  border-bottom: 0.1vw solid #10A8EC;
  border-left: 0.5vw solid #808B42;
}
.essay{
   border-top: 0.1vw solid #10A8EC;
  border-right: 0.1vw solid #10A8EC;
  border-bottom: 0.1vw solid #10A8EC;
  border-left: 0.5vw solid #808B42;
}

.a-link{
  color: hsl(240, 5%, 22%);
}

.essay-image{
  // border: 2px solid rosybrown;
  width: 50vw;
}
@import 'bootstrap';
