
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(150, 163, 163);
}

tei-p{
    text-decoration: underline;
}

section {
    overflow-y: scroll;
    height: 6in;
    resize: none;
    padding: 10px;
    border: thin solid gray;
}

@import "bootstrap";