body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(136, 146, 146);
}
.background-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.appendix-text{
  width: 70vw;
  padding: 3vw;
  margin-bottom: 3vh;
  background-color: #F1F1F1;
}
.background-text{
  line-height: 2;
}
#appendix-structure{
  border-top: 0.1vw solid #10A8EC;
  border-right: 0.1vw solid #10A8EC;
  border-bottom: 0.1vw solid #10A8EC;
  border-left: 0.5vw solid #10A8EC;
}
#appendix-tabulated{
  border-top: 0.1vw solid #10A8EC;
  border-right: 0.1vw solid #10A8EC;
  border-bottom: 0.1vw solid #10A8EC;
  border-left: 0.5vw solid #10A8EC;
}
#appendix-glossary{
  border-top: 0.1vw solid hsl(335, 61%, 43%);
  border-right: 0.1vw solid hsl(335, 61%, 43%);
  border-bottom: 0.1vw solid hsl(335, 61%, 43%);
  border-left: 0.5vw solid hsl(335, 61%, 43%);
}
#appendix-bib{
  border-top: 0.1vw solid #2BA72A;
  border-right: 0.1vw solid #2BA72A;
  border-bottom: 0.1vw solid #2BA72A;
  border-left: 0.5vw solid #2BA72A;
}
#appendix-essay{
   border-top: 0.1vw solid hsl(335, 61%, 43%);
  border-right: 0.1vw solid hsl(335, 61%, 43%);
  border-bottom: 0.1vw solid hsl(335, 61%, 43%);
  border-left: 0.5vw solid hsl(335, 61%, 43%);
}

.scroll-links{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 2px solid hsl(240, 5%, 22%);
  border-radius: 5px;
  height: 35vh;
  width: 12vw;
  top: 20vh;
  left: 2vw;
}
.a-link{
  color: hsl(240, 5%, 22%);
}

.essay-image{
  // border: 2px solid rosybrown;
  width: 50vw;
}
@import 'bootstrap';
