
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(203, 206, 206);
}

.g-link{
  text-decoration: none;
}
.card{
  text-decoration: none;
  color: hsl(0, 1%, 13%);
  box-shadow:
  0 2.8px 2.2px rgba(180, 125, 125, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
 
}

.card{
    padding: 0.5vw;
    height: 50vh;
    width: 18vw;
    perspective: 1000px;
    transform-origin: center center 0px;
  transition: all 0.6s ease-out;
  transform: perspective(1000px) rotateX(4deg) rotateY(2deg) rotateZ(-10deg);
  z-index: 1;
}

.card:hover{
    // transform: scale(2, 2);
    // transform: perspective(1000px) rotateX(10deg) rotateY(4deg) rotateZ(-20deg)
    animation: magic 6s infinite alternate ease-in-out;
}

@keyframes magic {
  10%{
    border: 2px solid #2CA82B;
    box-shadow: rgba(#2CA82B, 0.25) 20px 54px 55px, rgba(#2CA82B, 0.12) 30px -20px 30px 10px, rgba(#2CA82B, 0.12) 0px 4px 30px 12px, rgba(#2CA82B, 0.17) 0px 12px 13px, rgba(#2CA82B, 0.09) 0px -3px 5px;
  }
    20%{
        transform: translateX(-20px);
        
    }
    50%{
     transform: perspective(1000px) rotateX(10deg) rotateY(2deg) rotateZ(-15deg)
     }
}
@import "bootstrap";