
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(203, 206, 206);
}

.g-link{
  text-decoration: none;
}
.card{
  position: relative;
  text-decoration: none;
  color: white;
  text-align: center;
  background-color: #324756 !important;
  margin: 0.3vw;
  height: 50vh;
  width: 18vw;
  perspective: 1000px;
  transform-origin: center center 0px;
  transition: all 0.2s ease-out;
  transform: perspective(1000px) rotateX(4deg) rotateY(2deg) rotateZ(-10deg);
  z-index: 1;
  box-shadow:
  0 2.8px 2.2px rgba(180, 125, 125, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
 
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #658E15 #fff;
}

.journal-card{
  height: 40vh;
  width: 18vw;
  margin-left: 2vw;
}
.relative-card{
  text-decoration: none;
}

.card:hover{
    // transform: scale(2, 2);
    // transform: perspective(1000px) rotateX(10deg) rotateY(4deg) rotateZ(-20deg)
    animation: magic 3s infinite alternate ease-in-out;
}

@keyframes magic {
  10%{
    border: 2px solid #2CA82B;
    box-shadow: rgba(#2CA82B, 0.25) 20px 54px 55px, rgba(#2CA82B, 0.12) 30px -20px 30px 10px, rgba(#2CA82B, 0.12) 0px 4px 30px 12px, rgba(#2CA82B, 0.17) 0px 12px 13px, rgba(#2CA82B, 0.09) 0px -3px 5px;
  }
    20%{
        transform: translateX(-20px);
        
    }
    70%{
     transform: perspective(1000px) rotateX(10deg) rotateY(2deg) rotateZ(-15deg)
     }
}

.date{
  color: #10A8EC !important;
  font-size: 18px;
}

.card-hr{
  background-color: #FF8C00;
  height: 2px !important;
}
.card-footer{
  position: absolute;
  width: 80%;
  display: flex;
  flex-direction: row ;
  justify-content: space-between;
  bottom: 0;
}
@import "bootstrap";