
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(136, 146, 146);
}


.page-line{
  border: 0;
  height: 3px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  border-radius: 3px;
}




.name-g-link {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: hsl(207, 87%, 45%);
  padding: 0 1px;
  transition: color ease 1s;
  &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 50%;
        height: 3px;
        background-color: hsl(207, 87%, 45%);
        transform: scaleX(0);
        transform-origin: bottom left;

        transition: transform 0.3s;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        left : 50%;
        height: 3px;
        background-color: hsl(207, 87%, 45%);
        transform: scaleX(0);
        transform-origin: bottom right;

        transition: transform 0.3s;
    }

    &:hover {
        &:before {
            transform: scaleX(1);
        }

        &:after {
            transform: scaleX(1);
        }
    }
  
}



@import "bootstrap";
