body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(136, 146, 146);
}

.page-line {
  border: 0;
  height: 3px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  border-radius: 3px;
}

.name-g-link {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: hsl(207, 87%, 45%);
  padding: 0 1px;
  transition: color ease 1s;
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 50%;
    height: 3px;
    background-color: hsl(207, 87%, 45%);
    transform: scaleX(0);
    transform-origin: bottom left;

    transition: transform 0.3s;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 50%;
    height: 3px;
    background-color: hsl(207, 87%, 45%);
    transform: scaleX(0);
    transform-origin: bottom right;

    transition: transform 0.3s;
  }

  &:hover {
    &:before {
      transform: scaleX(1);
    }

    &:after {
      transform: scaleX(1);
    }
  }
}

// .journal-note-div{
//   height: fit-content;
//   width: 3vw;
//   border: 1px solid;
//   // white-space: nowrap;
//   // overflow: hidden;
// }
//   .journal-note{
//   /* Both of the following are required for text-overflow */
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   }

.wrapper {
  text-transform: uppercase;
  font-style: italic;
  background: #ececec;
  color: #555;
  cursor: pointer;
  font-size: 15px;
  margin: 0 auto;
  padding: 10px 10px;
  position: relative;
  width: 5vw;
  -webkit-transform: translateZ(0); /* webkit flicker fix */
  -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}

.wrapper .tooltip {
  background: #1496bb;
  position: absolute;
  font-style: italic;
  bottom: 100%;
  width: 230px;
  border-radius: 5px 5px 5px 0px;
  color: #fff;
  display: block;
  left: 0;
  margin-bottom: 15px;
  opacity: 0;
  padding: 20px;
  pointer-events: none;
  transform: translateY(15px);
  transform: translateX(30px);
  transition: all .25s ease-out;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.wrapper .tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}

/* CSS Triangles - see Trevor's post */
.wrapper .tooltip:after {
  // border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #1496bb 15px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 0%;
  // margin-left: -13px;
  position: absolute;
  width: 0;
}

.wrapper:hover .tooltip {
  opacity: 1;
  // pointer-events: auto;
  // -webkit-transform: translateY(0px);
  // -moz-transform: translateY(0px);
  // -ms-transform: translateY(0px);
  // -o-transform: translateY(0px);
  // transform: translateY(0px);
}


@import "bootstrap";
