#footer-row{
    margin-top: 10vh;
    background-color: hsl(240, 5%, 22%);
}

.email, .phone{
    margin-left: 40px;
}

.contactInfo, .footer-description{
    color: hsl(0, 9%, 79%);
}

.footer-description {
    font-size: 20px;
}

@import 'bootstrap';
