#header-row{
    margin-bottom: 3vh;
    box-shadow: 0 8px 10px -6px rgba(black, 1);
    background-color: #2F3242;
}

.header-items{
    display: flex;
    justify-content:space-evenly;

    .header-item{
        display: flex;
        justify-content: center;
        padding: 4px;
        margin-top: 8px;
        border-radius: 3px;
        width: 18vw;
        color: white;
        transition: all 1s ease-out;
    }
    .header-dropdown{
        width: 18vw;
        margin-top: 18px;
    }

     #header-journal{
         margin-left: 5px;
            background-color: darkorange;
        }
     #header-journal:hover,#header-journal:active{
            background-color: white;
            color: darkorange;
            border: thin solid darkorange;
    }

     #header-relative{
            background-color: hsl(335, 61%, 43%);
        }
     #header-relative:hover, #header-relative:active{
            background-color: white;
            color: hsl(335, 61%, 43%);
            border: thin solid hsl(335, 61%, 43%);
    }
    #header-network{
            background-color: hsl(198, 89%, 49%);
        }
     #header-network:hover, #header-network:active{
            background-color: white;
            color: hsl(198, 89%, 49%);
            border: thin solid hsl(198, 89%, 49%);
    }
    
     #header-background{
         margin-right: 5px;
        background-color: #808B42;
          .dropdown-link{
            color: white;
        }
        }
     #header-background:hover, #header-background:active{
            background-color: white;
            border: thin solid  #808B42;
              .dropdown-link{
            color:  #808B42;
        }
    }
    
}


@media only screen and (max-width: 990px) {
 .header-items{
     display: none;
}
}

@import "bootstrap";