
:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(136, 146, 146);
}

#journal-card-row {
  margin-left: 2em;
  width: 90vw;
  background-color: #eeeeee;
}

#background-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.background-item {
  position: relative;
  border: 0.5px solid rgb(119, 33, 204);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  padding: 4px;
  margin-left: 10vw;
  margin-right: 10vw;
  border-radius: 5px;
  width: 70vw;
  height: 15vh;
  color: white;
  z-index: 1;

  &::before{
 position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
  }
   &:hover::before{
    opacity: 1;
  }
}

// #background-timeline {
//   background: linear-gradient(to bottom right, #000428, #004e92);
//   &::before {
//     background: linear-gradient( to bottom right, #004e92,#000428);
//   }
// }

// #background-essay {
//   background: linear-gradient(to bottom right, #1F1C2C  , #928DAB);
//    &::before {
//     background: linear-gradient( to bottom right, #928DAB,#1F1C2C);
//   }
// }
// #background-bibliography {
//   background: linear-gradient(to bottom right, #B79891 ,#94716B);
//    &::before {
//     background: linear-gradient( to bottom right, #94716B,#B79891);
//   }
// }
// #background-quaker-glossary {
//   background: linear-gradient(to bottom right, #0F2027, #203A43, #2C5364);
//    &::before {
//     background: linear-gradient( to bottom right, #2C5364,#203A43, #0F2027);
//   }
// }
// #background-quaker-meeting-structure {
//   background: linear-gradient(to bottom right, #ad5389, #3c1053);
//    &::before {
//     background: linear-gradient( to bottom right, #3c1053,#ad5389);
//   }
// }

#author-bg-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 15%, 91%);
}

.box {
  width: 60vw;
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;  
    transition: all 1s ease-in-out;

    &:hover{
      transform: rotate3d(1, 0, -1, -5deg);
    }
}

.cyan {
    border-top: 3px solid var(--cyan);
}
.red{
  border-top: 3px solid var(--red);
}
.orange{
  border-top: 3px solid var(--orange);
}
.blue{
  border-top: 3px solid var(--blue);
}




@import 'bootstrap';
