
body {
  font-family: Arial, Helvetica, sans-serif;
}


#main-container{
  background-color: #494949;
}
#main-row{
  background-color: #3c373e;
}

#image{
  height: 85vh;
  // border: 0.5px solid blue;
}

#logo{
  height: 12vh;
  width: 7vw;
}
// #openseadragon{
//   height: 50vh;
//   width: 30vw;
// }


  .g-link {
  padding: 5px;
  color: hsl(0, 9%, 70%);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all ease-in-out 0.5s;

}
  .g-link:hover{
  color: hsl(0, 27%, 94%);
  border-color: hsl(207, 87%, 45%);;
}

  .g-link2 {
  padding: 5px;
  color: hsl(0, 5%, 16%);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all ease-in-out 0.5s;

}
  .g-link2:hover{
  color: hsl(0, 4%, 37%);
  border-color: hsl(207, 87%, 45%);;
}

.bnt-g-link{
  text-decoration: none;
}

.general-text{
  color: hsl(0, 7%, 83%);
}

#result-card{
  transform: none;
  transition: none;
  animation: none;
  width: 90vw;
  height: fit-content;

  margin-bottom: 3vh;

}

@import "bootstrap";
