
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(136, 146, 146);
}

tei-p {
  text-decoration: underline;
}

#journal {
  height: 70vh;
  width: 40vw;
  overflow: scroll;
  resize: none;
  padding: 10px;
  border: thin solid gray;
}

#openseadragon {
  height: 70vh;
  width: 40vw;
}

#logo{
  height: 12vh;
  width: 7vw;
}

.nav-btn{
  padding: 5px;
}


#bio{
  border: thin solid green;
  padding: 5px;
  border-radius: 0px 0px 8px 8px;

}

  #bio-image{
    height: 20rem;
    width: 18rem;
  }

  // .g-link{
  //   text-decoration: none;
  //   color: hsl(0, 4%, 9%);
  // }

  .g-link {
  padding: 5px;
  color: hsl(0, 10%, 88%);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all ease-in-out 0.5s;

}
  .g-link:hover{
  color: hsl(0, 33%, 99%);
  border-color: hsl(0, 33%, 99%);;
}

@import "bootstrap";
