
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(136, 146, 146);
}


// #journal {
//   height: 70vh;
//   width: 40vw;
//   overflow: scroll;
//   resize: none;
//   padding: 10px;
//   border: thin solid gray;
// }

#openseadragon {
  height: 70vh;
  width: 40vw;
}

#logo{
  height: 12vh;
  width: 7vw;
}


  .g-link {
  padding: 5px;
  color: hsl(0, 9%, 70%);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all ease-in-out 0.5s;

}
  .g-link:hover{
  color: hsl(0, 27%, 94%);
  border-color: hsl(207, 87%, 45%);;
}


.name-g-link {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: hsl(207, 87%, 45%);
  padding: 0 1px;
  transition: color ease 1s;
  
  &::before, &::after {
    content: '';
    position: absolute;
    background-color:  hsl(207, 87%, 45%);
    z-index: -1;
    height: 2px;
  }
  
  &::before {
    width: 0%;
    left: 0;
    bottom: 0;
    transition: width ease 1s;
  }
  
  &::after {
    width: 100%;
    left: 0;
    bottom: 0;
    transition: all ease 0.6s;
  }
  
  &:hover {
    color: hsla(0, 8%, 33%, 0.575);

    &::before {
      width: 100%;
    }
    
    &::after {
      left: 100%;
      width: 0%;
      transition: all ease 0.2s;
    }
  }
  
}



@import "bootstrap";
